

    .cmp-articlelist__cards-container {

        display: flex;
    }

    .cmp-articlelist__cards{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 350px;
    }
    .cmp-articlelist__card-btn{

        padding:15px 40px;
        background-color:#5E7263;
        color: #FFF;
        text-align:center;

    }
    .cmp-articlelist__card-btn-container{
        text-align:center;
        margin: 20px 0px;
    }
    .cmp-articlelist__card-title{
        text-align:center;
    }